<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="{{ .Title }} | Kalawati Enterprises" />
  <meta name="keywords" content="plastic furniture, plastic table, plastic chair, chair, table, furniture, moldplast, moulded furniture">
  <meta name="author" content="Kalawati Enterprises">
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">
  <title>{{ .Title }} | Kalawati Enterprises</title>
</head>
